tests/testImg.png
tests/fill.py
tests/average.py
data1.json
dataContour.json
image2test.png
image3test.png
image4test.png
.vscode/*
venv
piGantry/__pycache__
piGantry/imageProcess/__pycache__
piGantry/piSerial/__pycache__
