tests/testImg.png
tests/fill.py
tests/average.py
data1.json
dataContour.json
image2test.png
image3test.png
image4test.png
imageDatTest.png
opencv_frame_3.png
opencv_frame_4.png
opencv_frame_5.png
opencv_frame_6.png
opencv_frame_7.png
.vscode/*
venv
piGantry/__pycache__
piGantry/imageProcess/__pycache__
piGantry/piSerial/__pycache__
testDiff.png
testDiff1.png
testDiff2.png
tests/takeImg.py
tests/grey1.jpg
tests/grey.png
tests/grayDiffLum.png
foo.csv
foo.json
foo1.csv
dataContour1.json
dataContour2.json
dataPixel.json
4_19v.csv
dataContour1.json
dataContour2.json
dataPixel.json
dataContour1.json
dataContour2.json
dataPixel.json
