tests/testImg.png
tests/fill.py
tests/average.py
data1.json
dataContour.json
image2test.png
image3test.png
image4test.png
imageDatTest.png
opencv_frame_3.png
opencv_frame_4.png
opencv_frame_5.png
opencv_frame_6.png
opencv_frame_7.png
.vscode/*
venv
piGantry/__pycache__
piGantry/imageProcess/__pycache__
piGantry/piSerial/__pycache__
testDiff.png
testDiff1.png
testDiff2.png
tests/takeImg.py
tests/grey1.jpg
tests/grey.png
tests/grayDiffLum.png
foo.csv
foo.json
foo1.csv
dataContour1.json
dataContour2.json
dataPixel.json
4_19v.csv
dataContour1.json
dataContour2.json
dataPixel.json
opencv_frame_3.png
opencv_frame_4.png
opencv_frame_5.png
opencv_frame_6.png
opencv_frame_7.png

22.56v_5Contour.png
22.56v_6Contour.png
22.81v_5Contour.png
22.81v_6Contour.png
23.17v_5Contour.png
23.17v_6Contour.png
23.56v_5Contour.png
23.56v_6Contour.png
dataContour0.json
dataContour3.json
*.pyc
*/__pycache__/*
tests/testImg2.png


swingTest/*
tests/testImg/*
tempdump/*
imgData/*
piGantry/imageProcess/__pycache__/cameraFunc.cpython-38.pyc
piGantry/piSerial/__pycache__/motorFunc.cpython-38.pyc
piGantry/piSerial/__pycache__/serialInter.cpython-38.pyc
piGantry/piSerial/__pycache__/TkInterUI.cpython-38.pyc
*.pyc
origImg.png
mirrored.png
imgTrans3.png
imgTrans2.png
imgTrans1.png
imgTF3Contour.png
imgTF2Contour.png
imgTF1Contour.png
imgT3Contour.png
imgT2Contour.png
imgT1Contour.png
imgMirrored.png
imgFlipContour.png
imgContour.png
img.png
